html{
	overflow-y: scroll;
}

.header{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #3B54A6; 
}

#footer{
	width: 100%
	height: 300px;
	padding: 20px;
	margin: 0px;
	background-color: #3B54A6;
	color: white;
	text-align: center;
}

ul{
	list-style-type: none;
	margin-left: auto;
	padding-left: 0px;
	width: 200px;
	text-align: left;
	background-color: #3B54A6;
	font-family: 'Cabin', sans-serif;
}

li a{
	display: block;
	padding: 8px 16px;
	color: white;
	font-size: 56;
	font-family: 'Cabin', sans-serif;
}

li a.active{
	text-decoration: none !important;
	background-color: #a68d3b;
	font-weight: bold;
	color: white;
	font-family: 'Cabin', sans-serif;
}

li a:hover:not(.active){
	text-decoration: none !important;
	background-color: white;
	font-weight: bold;
	color: #a68d3b;
	font-family: 'Cabin', sans-serif;
}

h2.centerText{
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h4{
	font-family: 'Cabin', sans-serif;
}

h5{
	font-family: 'Old Standard TT', serif;
}

h5:hover{
	font-family: 'Old Standard TT', serif;
	text-decoration: none !important;
	color: #a68d3b;
	font-size: 20px;

}

#outline{
	border: 1px;
	border-radius: 10px;
	border-color: #3B54A6;
}

#outline:hover{
	border: 2px solid #a68d3b;
	box-shadow: 1px 1px 3px #a68d3b; 
}

p{
	font-family: 'Old Standard TT', serif;
}

p.centerText{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

p.Test{
	text-align: left-justify;
	padding-left: 10px;
}

p.rightText{
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 40px;	
}

p.rightNospace{
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
}


.image-container{
	text-align: center;
}

#space{
	margin-bottom: 40px;
}

#breath{
	margin-bottom: 20px;
}

.pictures{
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 75px;
	padding-bottom: 75px;
}

#bioSpace{
	margin-bottom: 5px;
}

.col-centered{
	text-align: center;
}

.btn-default{
	background-color: #a68d3b;
	border-color: #a68d3b;

}

.btn{
color: white;
}

.btn-lg{
	background-color: white;
	border color: white;
}

.btn-lg:hover{
	color: #a68d3b;
	background-color: white;
	border-color: white;

}

.btn-lg:focus{
	background-color: #a68d3b;
	border-color: #3B54A6;

}

.btn-info{
	border-color: white;
	margin-top: 10px;
}

.btns{
	color: black;
	font-family: 'Cabin', sans-serif;
}

@media only screen and (min-width: 376px){
	.modal-content{
		margin-left: -20%;
		margin-right: -20%;
	}
}

@media only screen and (max-width: 375px){
	.modal-content{
		margin-left: 0%;
		margin-right: 0%;
	}
}

